Django==5.2.9
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework-simplejwt==5.5.1
python-decouple==3.8
psycopg2-binary==2.9.11
channels==4.3.2
channels-redis==4.3.0
redis==7.1.0
celery==5.6.1
django-celery-beat==2.8.1
django-celery-results==2.6.0
drf-spectacular==0.29.0
Pillow==12.1.0
reportlab==4.4.7
openpyxl==3.1.5
requests==2.32.5
cryptography==46.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
gunicorn==23.0.0
uvicorn==0.40.0
whitenoise==6.11.0
django-extensions==4.1
python-magic==0.4.27
qrcode==8.2
setuptools==80.9.0
psutil==7.2.1
pyotp==2.9.0
weasyprint==67.0
msgpack==1.1.2
user-agents==2.2.0
pyjwt==2.10.1
django-timezone-field==7.2.1
python-crontab==3.3.0
cron-descriptor==2.0.6
tqdm==4.67.1
cssselect2==0.8.0
tinycss2==1.5.1
tinyhtml5==2.0.0
pydyf==0.12.1
Pyphen==0.17.2
webencodings==0.5.1
brotli==1.2.0
zopfli==0.4.0
fonttools==4.61.1
regex==2025.11.3
filelock==3.20.1
fsspec==2025.12.0
jinja2==3.1.6
MarkupSafe==3.0.3
